body{
    padding: 0;
    margin: 0;
    background: url('dawn-bgjpg.jpg') no-repeat;
    background-size: cover;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    text-decoration: none;
    list-style: none;
}

.profile_wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 420px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.5);
}

.info_wrap{
    text-align: center;
    margin: 30px 20px 20px;
}
.info_wrap .img_photo{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('girl.jpg') no-repeat;
    background-size: cover;
}
.info_wrap .name{
    text-transform: uppercase;
    color: #f17442;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0 0 0;
}
.info_wrap .major{
    font-weight: 500;
    font-size: 18px;
}
.info_wrap .sub{
    padding-top: 10px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    height: 5em;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}

.sns_wrap::after{
    display: block;
    content: "";
    clear: both;
}
.sns_wrap{
    width: max-content;
    margin: 0 auto;
}
.sns_wrap .sns_btn{
    font-size: 25px;
    float: left;
    margin: 0 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.facebook{
    color: #3c5997;
}
.twitter{
    color: #1da1f1;
}
.instar{
    color: #147db9;
}

.sns_wrap .facebook:hover{
    background-color: #3c5997;
    color: #fff;
    border-radius: 50%;
}
.sns_wrap .twitter:hover{
    background-color: #1da1f1;
    color: #fff;
    border-radius: 50%;
}
.sns_wrap .instar:hover{
    background-color: #147db9;
    color: #fff;
    border-radius: 50%;
}